@font-face {
  font-family: "Bauhaus";
  src: url(../assets/fonts/Bauhaus93Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf), url(../assets/fonts/Poppins/Poppins-Thin.ttf), url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Bauhaus";
  src: url(./assets/fonts/Bauhaus93Regular.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Regular";
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Thin";
  src: url(./assets/fonts/Poppins/Poppins-Thin.ttf) format("ttf");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Bold";
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf) format("ttf");
  font-weight: bold;
  font-style: normal;
}

*,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  width: 100%;
  background-color: #f6f6f6;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 60%;
  width: auto;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
  color: #EF773F;
}

.landing {
  width: 100%;
}

.landing img {
  width: 40%;
}

.uploadedContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.background {
  width: 100%;
  height: 100vh;
  background-color: #3c3c3b;
  background-image: url(../assets/imgs/coming-soon.jpeg);
  background-blend-mode: luminosity;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  padding: 5em 6em;
}

.accountRow {
  max-width: 100%;
  margin: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.account {
  background-color: white;
  border-radius: 8px;
  padding: 1em;
  margin: 1em;
  width: 45%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 0px 0px 15px -8px #3c3c3b;
          box-shadow: 0px 0px 15px -8px #3c3c3b;
}

.account--summary {
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account--overview {
  width: 70%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.5em 2em;
}

.account__name {
  font-size: 1.6em;
}

.account__avatar {
  max-width: 40%;
  margin: 1em;
}

.account__links {
  margin: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.account__link {
  margin: .6em 0;
  color: #7f7f7f;
  width: 100%;
}

.account__link a:hover {
  color: #EF773F;
}

a {
  text-decoration: none;
}

.nav {
  -webkit-box-shadow: 0px 5px 15px -7px #3c3c3b;
          box-shadow: 0px 5px 15px -7px #3c3c3b;
  padding: .6em 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

.nav__front {
  max-width: 20%;
}

.nav__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  margin: 0 1em;
}

.nav__link:hover {
  color: #EF773F;
}

.nav__link--primary {
  color: #EF773F;
}

.nav__logo {
  display: inline-block;
}

.logo {
  height: 50px;
  width: auto;
  display: inline-block;
}

.nav--mobile {
  display: none;
}

@media (max-width: 860px) {
  .nav--desktop {
    display: none;
  }
  .nav--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@use "./styles/colors";
.btn {
  text-decoration: none;
  border-radius: 5px;
  padding: .6em 1.6em;
  margin-left: .2em;
  color: #f6f6f6;
}

.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

.button__text {
  color: #f6f6f6;
}

.btn--primary {
  background-color: #EF773F;
  color: #f6f6f6;
  border: none;
}

.btn--primary:hover {
  color: #f6f6f6;
  background-color: #dc4600;
}

.btn--primary--outline {
  padding: .4em 1.6em;
  background-color: #f6f6f6;
  color: #EF773F;
  border: 2px solid #EF773F;
}

.btn--primary--outline:hover {
  background-color: #EF773F;
  color: #f6f6f6;
}

.btn--danger {
  background-color: #aa0000;
}

.btn--success {
  background-color: #1A5E37;
}

.btn--danger .button__text, .button--success .button__text {
  color: #f6f6f6;
}

.btn--ghost {
  border: 1px solid #3c3c3b;
}

@use "./styles/colors";
@use "../styles/colors";
.form--account {
  max-width: 60%;
  -webkit-box-shadow: 10px 10px 30px 4px #3c3c3b;
          box-shadow: 10px 10px 30px 4px #3c3c3b;
  background-color: #f6f6f6;
  border-radius: 6px;
  padding: 2em;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .form--account {
    max-width: 100%;
  }
}

.card {
  background-color: #f6f6f6;
  margin: 1em;
  max-width: 320px;
  height: 380px;
}

.card--header {
  border: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 10% 20% auto 10%;
      grid-template-rows: 10% 20% auto 10%;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.header__top {
  font-size: 1.6em;
  margin-bottom: .4em;
}

.header__title {
  font-size: 2.4em;
}

.header__text {
  height: 100%;
  background-color: red;
}

.header__img {
  max-width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / span 4;
}

.card__img, .card__video {
  max-width: 100%;
}

.card__text {
  padding: .4em .8em .4em .8em;
  height: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__description {
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start;
}

.card__link {
  color: #EF773F;
}

.card__link:hover {
  cursor: pointer;
  color: #c9602f;
}
