@import "./styles/_colors";
@import "./styles/_fonts";


*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $body--regular;
    font-style: normal;
}

body {
    width: 100%;
    background-color: $neutral;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 60%;
    width: auto;
}

h1, h2 {
    font-family: $body--regular;
    color: $primary;
}

.landing {
    width: 100%;
}

.landing img {
    width: 40%;
}

.uploadedContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.background {
    width: 100%;
    height:100vh;
    background-color: $dark;
    background-image: url(../assets/imgs/coming-soon.jpeg);
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 5em 6em;
}

.accountRow {
    max-width:100%;
    margin:2em 1em;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.account {
    background-color: white;
    border-radius: 8px;
    padding:1em;
    margin: 1em;
    width: 45%;
    height: 75vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 0px 15px -8px $dark;
}

.account--summary {
    width: 20%;
    align-items: center;
}

.account--overview {
    width: 70%;
    align-items: flex-start;
    padding: 1.5em 2em;
}

.account--overview p {
    
}

.account__name {
    font-size: 1.6em;
}

.account__avatar {
    max-width: 40%;
    margin: 1em;
}

.account__links {
    margin: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.account__link {
    margin: .6em 0;
    color: $muted;
    width: 100%;
}

.account__link a:hover {
    color: $primary;
}
