@import "./styles/_colors";
@import "./styles/_fonts";


*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $body--regular;
    font-style: normal;
}

body {
    width: 100%;
    background-color: $neutral;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 60%;
    width: auto;
}

h1, h2 {
    font-family: $body--regular;
    color: $primary;
}

.landing {
    width: 100%;
}

.landing img {
    width: 40%;
}

.uploadedContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 60vh;
}

.uploadedContent--audio {
    min-height: 0;
    padding-bottom: 200px;
}

.background {
    width: 100%;
    height:100vh;
    background-color: $dark;
    background-image: url(../assets/imgs/coming-soon.jpeg);
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 5em 6em;
}

.studioRow {
    max-width:100%;
    margin:2em 1em;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.studio {
    background-color: white;
    border-radius: 8px;
    padding:1em;
    margin: 1em;
    width: 45%;
    height: auto;
    min-height: 75vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 0px 15px -8px $dark;
}

.studio--summary {
    min-width: 6em;
    max-width: 30%;
    max-height: 100%;
    align-items: center;
}

.studio--overview {
    width: 70%;
    align-items: flex-start;
    padding: 1.5em 2em;
}

.studio__name {
    font-size: 1.4em;
    display: block;
}

.studio__avatar {
    max-width: 8em;
    margin: .6em;
}

.studio__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 100%;
}

.studio__link {
    margin: 6% 0;
    color: $muted;
    width: 100%;
}

.studio__link a:hover {
    color: $primary;
}

.studio--videoView {
    width: 100%;
}

.search__container {
    display: flex;
    max-width: 420px;
    margin: 0 1.6em; 
}

.footer {
    background-color: $primary;
    color: $neutral;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin: 0;
    padding: 0;
}

.copy {
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: light;
    font-size: .8em;
}

.flex--detail {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr ;
    gap: 1%;
}


.aside--detail {
    max-height: 100%;
    overflow-y: hidden;
    padding: 0 2em;


}

.aside__box {
    display: flex;
    flex-direction: column;
}

.aside__item {
    margin: 1em 0;
    border-bottom: 1px solid $primary;
}

.aside__item h3 {
    padding: .5em;
}

.aside__item img {
    max-width: 100%;
}


.main__visual img {
    max-width: 100%;
}

.aside--detail h2 {
    font-size: 1.4em;
}

.aside--detail h3 {
    font-size: 1em;
}

.back {
    color: $primary;
    font-size: 1.2em;
}

.back:hover {
    color: $muted;
}

.backdiv {
    margin-top: 2em;
}

.main__description h1 {
    padding: .4em 0;
    border-bottom: 2px solid $muted;
}


@media (max-width: 500px) {
    .studioRow {
        max-width:100%;
        margin:2em 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 2;
        align-items: flex-start;
        justify-content: stretch;
    }
    
    .studio {
        background-color: white;
        border-radius: 8px;
        padding:1em;
        margin: 1em;
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: 0px 0px 15px -8px $dark;
    }
    
    .studio--summary {
        width: 100%;
        max-width: 100%;
        align-items: center;
    }
    
    .studio--overview {
        width: 100%;
        align-items: flex-start;
        padding: 1.5em 2em;
    }

    .flex--detail {
        display: block;
    }

    .main--detail {
        width: 100%;
    }

    .aside--detail {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    
            
}
