@use "./styles/colors";

.btn {
    border-radius: 5px;
    padding: .6em 1.6em;
    margin-left: .2em;
    color: $neutral;
}

.btn:hover {
    cursor: pointer;
}

.button__text {
    color: $neutral;
}

.btn--primary {
    background-color: $primary;
    border: none;
}

.btn--primary:hover {
    background-color: $primary--dark;
}


.btn--danger {
    background-color: $danger;
}

.btn--success {
    background-color: $success;
}

.btn--danger .button__text, .button--success .button__text {
    color: $neutral;
}

.btn--ghost  {
    border: 1px solid $dark;
}
