@use "./styles/colors";

.btn {
    text-decoration: none;
    border-radius: 5px;
    padding: .6em 1.6em;
    margin-left: .2em;
    color: $neutral;
}

.btn:hover {
    text-decoration: none;
    cursor: pointer;
}

.button__text {
    color: $neutral;
}

.btn--primary {
    background-color: $primary;
    color: $neutral;
    border: none;
}

.btn--primary:hover {
    color: $neutral;
    background-color: $primary--dark;
}

.btn--primary--outline {
    padding: .4em 1.6em;
    background-color: $neutral;
    color: $primary;
    border: 2px solid $primary;
}

.btn--primary--outline:hover {
    background-color: $primary;
    color: $neutral;
}

.btn--danger {
    background-color: $danger;
}

.btn--danger--outline {
    color: $danger;
    background-color: $neutral;
    border: 2px solid $danger;

}

.btn--danger--outline:hover {
    background-color: $danger;
    color: $neutral;
}



.btn--success {
    background-color: $success;
}

.btn--danger .button__text, .button--success .button__text {
    color: $neutral;
}

.btn--ghost--outline  {
    border: 2px solid $muted;
    color: $muted;
}

.btn--ghost--outline:hover {
    background-color: $muted;
    color: $neutral;

}

.btn--small {
    font-size: .8em;
    padding: .4em 0;
    width: 6em;
    margin: .2em 0;
}

