@import "../styles/_colors.scss";

.card {
    background-color: $neutral;
    margin: 1em;
    width: 360px;
    height: 380px;
}

.card--static:hover {
    color: $primary;
    text-decoration: none;
}

.card--static {
    height: 300px;
}

.card__image {
    width: 100%;
    max-height: 200px;
}

.card--header {
    border: none;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 20% auto 10%;
    column-gap: 1em;
}

.header__top {
    font-size: 1.6em;
    margin-bottom: .4em;
}

.header__title {
    font-size: 2.4em;
}

.header__text {
    height: 100%;
    background-color: red;
}

.header__img {
    max-width: 100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
}

.card__video {
    max-width: 100%;
}

.card__text {
    padding: .4em .8em .4em .8em;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: space-between;
    justify-content: space-between;
}


.card__description {
    align-self: flex-start;
    justify-self: flex-start;
}

.card__link {
    color: $primary;
}

.card__link:hover {
    cursor: pointer;
    color: #c9602f;
}

.card--add {
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $muted;
}

.card--add__img {
    width: 100px;
    height: auto;
}

.card--audio {
    width: 100%;
    height: 40px;
    max-height: 200px;
    margin: .1em 1em;
    background-color: #F1F3F4;
    // display: flex; 
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
}

.card--audio__title {
    color: $primary;
    font-size: 1.2em;
    width: 30%;

}

audio {
    border-radius: 6px;
    color: $primary;
    width: 60%;
    max-width: 100%;
    height: 32px;
}

.audio--card__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 1em;
}

.card--add--audio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $muted;

}

.card--audio--add__img {
    width: 24px;
    height: 24px;
    margin: 0 1em;
}

.studioCard {
    width: 100%;
    padding: .2em 0;
    border-bottom: 1px solid $primary;
}

.studioCard--video {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.studioCard__video {
    max-height: auto;
    width: 240px; 
}

.studioCard__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.studioCard__link, .studioCard__description {
    font-size: .8em;
}

.studioCard__description {
    max-width: 60%;
}

.studioCard audio {
    width: 30%;
}

.studioCard__title {
    font-size: .8em;
    width: 10%;
}

.studioCard--video .studioCard__title {
    font-size: 1em;;
}

.studioCard__front {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

.studioCard__desc {
    font-size: .8em;
    width: 30%;

}

