@import "../styles/_colors.scss";

a {
    text-decoration: none;
}

.nav {
    border-bottom: solid 1px $dark;
    padding: .6em 1.2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.nav__front {
    max-width: 20%;
}

.nav__back {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav__link {
    margin: 0 1em;
}

.nav__link:hover {
    color: $primary;
}

.nav__link--primary {
    color: $primary;
}


.nav__logo {
    display: inline-block;
}

.logo {
    height: 50px;
    width: auto;
    display: inline-block;
}

.nav--mobile {
    display: none;
}

@media (max-width: 860px) {
    .nav--desktop {
        display: none;
    }

    .nav--mobile {
        display: flex;
    }
}



