@import "../styles/_colors.scss";

a {
    text-decoration: none;
}

nav {
    border-bottom: solid 1px $dark;
    padding: .6em 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hideDesktop {
    display: none;
}

.nav__front {
    // width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    margin: 0 1em;
}


.nav__logo {
    font-family: "Bauhaus";
}

@media (max-width: 576px) {
    .hideDesktop {
        display: block;
    }
    .hideMobile {
        display: none;
    }
}

