@import "../styles/_colors.scss";

nav {
    border-bottom: solid 1px $dark;
    padding: .6em 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__front {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-family: "Bauhaus";
}

.nav__back a {
    border: 1px solid $dark;
    border-radius: 6px;
    padding: .6em 1.2em;
    margin-left: .2em;
}
